In [1]:
import mysql.connector as conn

In [2]:
mydb = conn.Connect(host='localhost',user='root',passwd='Yuvraj@patil123')

In [3]:
mydb

In [4]:
cursor = mydb.cursor()

In [6]:
cursor.execute('show databases')

In [7]:
cursor.fetchall()

[('cardataset',),
 ('empolyee',),
 ('empolyee_details',),
 ('ineuron',),
 ('ineuron_test',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test1',),
 ('testuv',),
 ('yuvrajdb',)]

In [8]:
cursor = mydb.cursor()

In [9]:
cursor.execute('create database test2')

In [20]:
cursor.execute('create table test2.Worker(FIRST_NAME VARCHAR(10),LAST_NAME VARCHAR(10),SALARY INT(30))')

ProgrammingError: 1050 (42S01): Table 'worker' already exists

In [11]:
cursor.execute('use test2')

In [12]:
cursor.execute('show tables')

In [13]:
cursor.fetchall()

[('worker',)]

In [24]:
cursor.execute('insert into test2.Worker values("Yuvraj","Patil",4000)')

In [25]:
mydb.commit()

In [26]:
cursor.execute('select * from test2.Worker')

In [27]:
cursor.fetchall()

[('Yuvraj', 'Patil', 4000),
 ('Kiran', 'Dudhane', 5000),
 ('Suku', 'Pillai', 10000),
 ('Amit', 'Khan', 400),
 ('Yuvraj', 'Patil', 4000)]

In [28]:
cursor.execute('select substring(FIRST_NAME,1,3)from Worker')

In [29]:
cursor.fetchall()

[('Yuv',), ('Kir',), ('Suk',), ('Ami',), ('Yuv',)]

In [33]:
cursor.execute('select * from Worker where salary=(select Max(salary)from Worker)')

In [34]:
cursor.fetchall()

[('Suku', 'Pillai', 10000)]